[Unit]
Description=Overwrite kubernetes manifests. This service read kubernetes-worker.env and certificate in /etc/kubernetes/ssl
Wants=kubelet-docker.service
After=kubelet-docker.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/cni/net.d

ExecStartPre=/usr/bin/wget -q -O /opt/bin/kubelet-wrapper-docker https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/bin/kubelet-wrapper-docker
ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet-wrapper-docker
ExecStartPre=/usr/bin/wget -q -O /opt/bin/sed.sh https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/bin/sed.sh
ExecStartPre=/usr/bin/chmod +x /opt/bin/sed.sh

ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/cni/docker_opts_cni.env https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-worker/kubernetes/cni/docker_opts_cni.env
ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/cni/net.d/10-flannel.conf https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-worker/kubernetes/cni/net.d/10-flannel.conf

ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/worker-kubeconfig.yaml https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-worker/kubernetes/worker-kubeconfig.yaml
ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/manifests/kube-proxy.yaml https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-worker/kubernetes/manifests/kube-proxy.yaml

EnvironmentFile=/etc/kubernetes/kubernetes-worker.env
ExecStartPre=/opt/bin/sed.sh KUBELET_IMAGE_TAG ${KUBELET_IMAGE_TAG} /etc/kubernetes/manifests/kube-proxy.yaml
ExecStart=/opt/bin/sed.sh APISERVER_ENDPOINT ${APISERVER_ENDPOINT} /etc/kubernetes/manifests/kube-proxy.yaml