[Unit]
Description=Kubelet Docker Service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/kubernetes/kubernetes-master.env
ExecStartPre=-/usr/bin/mkdir -p /var/log/containers
ExecStartPre=-/usr/bin/mkdir -p /opt/cni/bin

#Environment=KUBELET_VERSION=v1.5.4_coreos.0
#Environment=NETWORK_PLUGIN=cni
#Environment=ADVERTISE_IP=172.16.0.211
#Environment=DNS_SERVICE_IP=172.17.0.10
Environment="DOCKER_RUN_ARGS=--volume=/etc/resolv.conf:/etc/resolv.conf:ro \
  --volume=/var/log:/var/log:rw \
  --volume=/opt/cni/bin:/opt/cni/bin:rw \
  --volume=/usr/sbin/modprobe:/usr/sbin/modprobe:ro \
  --volume=/lib/modules:/lib/modules:ro \
  --volume=/etc/ceph:/etc/ceph:ro"

ExecStart=/opt/bin/kubelet-wrapper-docker \
  --api-servers=http://127.0.0.1:8080 \
  --network-plugin-dir=/etc/kubernetes/cni/net.d \
  --network-plugin=${NETWORK_PLUGIN} \
  --register-schedulable=false \
  --allow-privileged=true \
  --container-runtime=docker \
  --config=/etc/kubernetes/manifests \
  --hostname-override=${ADVERTISE_IP} \
  --cluster_dns=${DNS_SERVICE_IP} \
  --cluster-domain=cluster.local

Restart=always
RestartSec=30
[Install]
WantedBy=multi-user.target
