[Unit]
Description=Overwrite kubernetes manifests & install CNI,kubectl. This service read kubernetes-master.env and certificate in /etc/kubernetes/ssl

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/cni/net.d

ExecStartPre=/usr/bin/wget -q -O /opt/bin/kubelet-wrapper https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/bin/kubelet-wrapper
ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet-wrapper
ExecStartPre=/usr/bin/wget -q -O /opt/bin/kubelet-wrapper-docker https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/bin/kubelet-wrapper-docker
ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet-wrapper-docker
ExecStartPre=/usr/bin/wget -q -O /opt/bin/sed.sh https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/bin/sed.sh
ExecStartPre=/usr/bin/chmod +x /opt/bin/sed.sh

ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/cni/docker_opts_cni.env https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-master/kubernetes/cni/docker_opts_cni.env
ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/cni/net.d/10-flannel.conf https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-master/kubernetes/cni/net.d/10-flannel.conf

ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/manifests/kube-apiserver.yaml https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-master/kubernetes/manifests/kube-apiserver.yaml
ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/manifests/kube-controller-manager.yaml https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-master/kubernetes/manifests/kube-controller-manager.yaml
ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/manifests/kube-scheduler.yaml https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-master/kubernetes/manifests/kube-scheduler.yaml
ExecStartPre=/usr/bin/wget -q -O /etc/kubernetes/manifests/kube-proxy.yaml https://raw.githubusercontent.com/napat1412/kubernetes-manifests/v1.5.4/deploy-master/kubernetes/manifests/kube-proxy.yaml

EnvironmentFile=/etc/kubernetes/kubernetes-master.env
ExecStartPre=/opt/bin/sed.sh ETCD_ENDPOINTS ${ETCD_ENDPOINTS} /etc/kubernetes/manifests/kube-apiserver.yaml
ExecStartPre=/opt/bin/sed.sh SERVICE_IP_RANGE ${SERVICE_IP_RANGE} /etc/kubernetes/manifests/kube-apiserver.yaml
ExecStartPre=/opt/bin/sed.sh ADVERTISE_IP ${ADVERTISE_IP} /etc/kubernetes/manifests/kube-apiserver.yaml
ExecStartPre=/opt/bin/sed.sh KUBELET_IMAGE_TAG ${KUBELET_IMAGE_TAG} /etc/kubernetes/manifests/kube-apiserver.yaml
ExecStartPre=/opt/bin/sed.sh KUBELET_IMAGE_TAG ${KUBELET_IMAGE_TAG} /etc/kubernetes/manifests/kube-controller-manager.yaml
ExecStartPre=/opt/bin/sed.sh KUBELET_IMAGE_TAG ${KUBELET_IMAGE_TAG} /etc/kubernetes/manifests/kube-scheduler.yaml
ExecStartPre=/opt/bin/sed.sh KUBELET_IMAGE_TAG ${KUBELET_IMAGE_TAG} /etc/kubernetes/manifests/kube-proxy.yaml

ExecStartPre=/usr/bin/mkdir -p /opt/cni/bin
ExecStartPre=/usr/bin/wget -q -O /opt/cni/cni-v0.4.0.tgz https://github.com/containernetworking/cni/releases/download/v0.4.0/cni-amd64-v0.4.0.tgz
ExecStartPre=/usr/bin/tar -xvf /opt/cni/cni-v0.4.0.tgz -C /opt/cni/bin
ExecStartPre=/usr/bin/wget -q -O /usr/local/sbin/kubectl https://storage.googleapis.com/kubernetes-release/release/${KUBECTL_VERSION}/bin/linux/amd64/kubectl
ExecStart=/usr/bin/chmod +x /usr/local/sbin/kubectl
TimeoutSec=30min